.bio {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  z-index: 1;
  align-items: center;
  overflow-x: hidden;
}

.bio__underwater-divider {
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .bio {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1550px) {
  .bio {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.bio__topSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .bio__topSection {
    flex-direction: column;
  }
}

.bio__greetings {
  font-size: 25px;
}

/*~~~~~~~~~~Tools Knob Section~~~~~~~~~~~*/

.bio__tools {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
}
