.city__container {
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  max-width: 100vw;
  height: 70vh;

  overflow: hidden;
}

.city__container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media only screen and (min-width: 1023px) {
  .city__container {
    height: 90vh;
  }
}

@media only screen and (max-height: 600px) {
  .city__container {
    height: 80vh;
  }
}

.city__sky--day {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: linear-gradient(#4073ff, #52b0ee, #d2e0e8, #c9dee8);
  height: 80vh;
  z-index: 0;
}

@media only screen and (min-width: 1240px) {
  .city__sky--day {
    height: 100vh;
  }
}

.city__sky--night {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: linear-gradient(#251f61, #3378bd);
  height: 80vh;
  z-index: 0;
}

@media only screen and (min-width: 1240px) {
  .city__sky--night {
    height: 100vh;
  }
}

.city__sky--night::before {
  background-image: url("../images/StarsNight.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -px;
  content: "";
  display: flex;
  height: 100%;
  width: 100%;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
}

.city__sun-and-moon {
  position: absolute;
  top: 10%;
  z-index: 2;
}

@media only screen and (min-width: 1240px) {
  .city__sun-and-moon {
    top: 15%;
    width: 20%;
    height: auto;
  }
}

.city__water--day {
  background-image: linear-gradient(#003b63, #3370a6);
  height: 20vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

@media only screen and (min-width: 1600px) {
  .city__water--day {
    height: 40vh;
  }
}

@media only screen and (min-width: 1023px) {
  .city__water--day {
    height: 30vh;
  }
}

@media only screen and (max-width: 450px) {
  .city__water--day {
    height: 25vh;
  }
}

@media only screen and (max-width: 300px) {
  .city__water--day {
    height: 30vh;
  }
}

.city__water--night {
  background-image: linear-gradient(#001a2b, #003b63);
  height: 20vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

@media only screen and (min-width: 2000px) {
  .city__water--night {
    display: none;
  }
}

@media only screen and (min-width: 1700px) {
  .city__water--night {
    bottom: 2%;
  }
}

@media only screen and (min-width: 1023px) {
  .city__water--night {
    height: 30%;
  }
}
@media only screen and (max-width: 450px) {
  .city__water--night {
    height: 25vh;
  }
}

@media only screen and (max-width: 300px) {
  .city__water--night {
    height: 30vh;
  }
}

.city__clouds {
  position: absolute;
  top: 10%;
  width: 400%;
  min-width: 100%;
  z-index: 3;
  animation: slide 320s linear infinite alternate;
}

@media only screen and (max-width: 768px) {
  .city__clouds {
    top: 30%;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
  }
  100% {
    -webkit-opacity: 0.8;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
