.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.footer__contactHeader {
  display: flex;
  flex-direction: column;
  z-index: 1;
  text-align: center;
  margin-top: 160px;
  align-items: center;
}

.footer__contactHeader-title {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 40px;
}

.footer__contactHeader-subtitle {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 200;
}

.footer__contactInfo {
  text-align: center;
  margin: 20px 0;
  font-weight: 300;
  line-height: 1.6;
}

.footer__contactInfo p {
  margin: 5px 0;
  font-size: 16px;
}

.footer__textBottom {
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
