.bio {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  flex-wrap: wrap;
  overflow-x: hidden;
  z-index: 1;
  align-items: center;
  padding: 20px;
}

.bio__underwater-divider {
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .bio {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1550px) {
  .bio {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.bio__topSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .bio__topSection {
    flex-direction: column;
  }
}

.bio__left {
  flex: 0.6;
  z-index: 3;
}

.bio__left > img {
  height: 250px;
  width: 250px;
  object-fit: contain;
  float: left;
  border-radius: 100% 100% 100% 100%;
  shape-outside: circle() margin-box;
  margin: 18px;
  z-index: 5;
  box-shadow: 3px 3px 10px #00000050;
}

@media only screen and (max-width: 460px) {
  .bio__left > img {
    width: 50%;
    height: auto;
    border-radius: 100% 100% 100% 0%;
    shape-outside: circle() none;
  }
}

.bio__left > div > p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 20px;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .bio__left > div > p {
    flex: 1;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.bio__text-background {
}

.bio__greetings {
  font-size: 25px;
}

/*~~~~~~~~~~Tools Knob Section~~~~~~~~~~~*/

.bio__tools {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
}
