.bio-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.4;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .bio-right {
    flex: 1;
    margin: 20px;
  }
}

.bio-right > a {
  text-decoration: none;
  margin-top: 15px;
}

.bio-right__experience {
  font-size: 900%;
  font-weight: 600;
}
