.bridge {
  /* position: relative;
  top: 30%; */
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 100%;
}

.bridge > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.bridge__fg {
  margin-top: 4%;
  margin-bottom: 10%;
  width: 100%;
  z-index: 7;
}
@media only screen and (max-width: 768px) {
  .bridge__fg {
    width: 150%;
  }
}

@media only screen and (min-width: 1800px) {
  .bridge__fg {
    margin-top: 0%;
  }
}

.bridge__bg {
  width: 100%;
  z-index: 5;
  margin-top: 4%;
  margin-bottom: 10%;
}
@media only screen and (max-width: 768px) {
  .bridge__bg {
    width: 150%;
  }
}

@media only screen and (min-width: 1800px) {
  .bridge__bg {
    margin-top: 0%;
  }
}
