.city__container {
  display: grid;
  grid-template: 1fr / 1fr;
  /* place-items: center; */
  max-width: 100%;
  max-height: 70vh;
  border-radius: 100px 100px 0px 0px;
  overflow: hidden;
  box-shadow: 3px 3px 10px #00000050;
}

.city__container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media only screen and (min-width: 1023px) {
  .city__container {
    max-height: 90vh;
  }
}

@media only screen and (max-height: 600px) {
  .city__container {
    max-height: 70vh;
  }
}

.city__sky--day {
  width: 100%;
  background-image: linear-gradient(#4073ff, #52b0ee, #d2e0e8, #ffffff);
  height: 100%;
  z-index: 1;
}

.city__sky--night {
  width: 100%;
  background-image: linear-gradient(#251f61, #3378bd);
  height: 100%;
  z-index: 1;
}

.city__sky--night::before {
  background-image: url("../images/StarsNight.svg");
  background-size: 150% 50%;
  background-repeat: no-repeat;
  margin-top: -40px;
  content: "";
  display: flex;
  height: 100%;
  width: 100%;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
}

.city__sun {
  position: relative;
  top: 40px;
  margin: auto;
  z-index: 2;
  -webkit-animation: spin2 2s cubic-bezier(0.37, -0.01, 0, 1);
  -moz-animation: spin2 2s cubic-bezier(0.37, -0.01, 0, 1);
  animation: spin2 2s cubic-bezier(0.37, -0.01, 0, 1);
  animation-fill-mode: forwards;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.city__moon {
  position: relative;
  top: 40px;
  margin: auto;
  z-index: 2;
  -webkit-animation: spin 2s cubic-bezier(0.37, -0.01, 0, 1);
  -moz-animation: spin 2s cubic-bezier(0.37, -0.01, 0, 1);
  animation: spin 2s cubic-bezier(0.37, -0.01, 0, 1);
  animation-fill-mode: forwards;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.city__water--day {
  background-image: linear-gradient(#003b63, #3370a6);
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

@media only screen and (min-width: 1023px) {
  .city__water--day {
    height: 2%;
  }
}

@media only screen and (max-width: 550px) {
  .city__water--day {
    height: 25%;
  }
}

@media only screen and (max-height: 600px) {
  .city__water--day {
    height: 10%;
  }
}

.city__water--night {
  background-image: linear-gradient(#001a2b, #003b63);
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

@media only screen and (min-width: 1023px) {
  .city__water--night {
    height: 35%;
  }
}

@media only screen and (max-width: 550px) {
  .city__water--night {
    height: 25%;
  }
}

@media only screen and (max-height: 600px) {
  .city__water--night {
    height: 10%;
  }

  @media only screen and (max-height: 550px) {
    .city__water--night {
      height: 0%;
    }
  }
}

.city__clouds {
  margin-top: 80px;
  width: 400%;
  min-width: 100%;

  z-index: 4;
  animation: slide 320s linear infinite alternate;
}

@media only screen and (min-width: 1350px) {
  .city__clouds {
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50%, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

@-moz-keyframes spin2 {
  0% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
