.header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

@media only screen and (min-width: 1023px) {
  .header__container {
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-height: 600px) {
  .header__container {
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
  }
}

.header__logo {
  height: 40%;
  max-width: 80%;
  filter: drop-shadow(0 0 20px #ffffff50);
}

@media only screen and (max-height: 600px) {
  .header__logo {
    height: 15vh;
    width: 25%;
  }
}

@media only screen and (min-width: 1023px) {
  .header__logo {
    min-height: 10vh;
    width: 15%;
  }
}

@media only screen and (min-width: 1023px) {
  .header__title--contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
  }
}

.header__text--container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__textTop {
  font-weight: 300;
  font-size: 3.5vh;
}

@media only screen and (max-height: 600px) {
  .header__textTop {
    font-size: 6vh;
  }
}

.header__subText {
  font-weight: 200;
  font-size: 2vh;
}

@media only screen and (max-height: 600px) {
  .header__subText {
    font-size: 3vh;
  }
}

.header__toggle--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

@media only screen and (max-height: 600px) {
  .header__toggle--container {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .header__toggle {
    margin: 0px;
  }
}

.header__moon {
  color: #c8fff4;
}

.header__sun {
  color: rgb(250, 252, 175);
}
