.portfolioItem__container {
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 420px;
  max-width: 100%;
  position: relative;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 3px 3px 10px #00000050;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 979px) {
  .portfolioItem__container {
    width: 90vw;
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__container {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

.portfolioItem__title {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 4;
}

@media only screen and (max-width: 768px) {
  .portfolioItem__title {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .portfolioItem__title {
    font-size: 1.5rem;
  }
}

/*   ~~~~~~~~ CONTENT LEFT ~~~~~~~~  */

.portfolio__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 285px;
}
@media only screen and (max-width: 979px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*   ~~~~~~~~ CONTENT RIGHT ~~~~~~~~  */

.portfolio__content--right {
  display: flex;
  width: 110px;
  position: relative;
  right: -8px;
}

@media only screen and (max-width: 979px) {
  .portfolio__content--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0px;
  }
}

.portfolio__tech-used {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 100px;
}

.portfolio__listItems {
  position: relative;
  left: 0;
}

@media only screen and (max-width: 979px) {
  .portfolio__tech-used {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__tech-used {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.portfolio__tech-used--hidden {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100px;
}

/*   ~~~~~~~~ CONTENT CENTER ~~~~~~~~  */

.portfolioItem__content--center {
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 979px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: -60px;
    overflow: scroll;
    z-index: 2;
    flex: 0.3;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 40px;
  }
}

/* ~~~~~~~~ THUMBNAIL IMAGE~~~~~~~~  */

.portfolioItem__image-container {
  border-radius: 0px 0px 0px 20px;
  z-index: 2;
}

@media only screen and (max-width: 979px) {
  .portfolioItem__image-container {
    border-radius: 0px 0px 0px 20px;
    height: 179px;
    width: 285px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__image-container {
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 20px;
  }
}

.portfolioItem__mobile-overlay {
  position: absolute;
  bottom: 0;
  z-index: 99;
  height: 179px;
  width: 245px;
  border-radius: 0px 20px 0px 20px;
  overflow: scroll;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: #00000080;
}

@media only screen and (max-width: 979px) {
  .portfolioItem__mobile-overlay {
    display: none;
  }
}

.portfolioItem__image {
  position: absolute;
  bottom: 0;
}

.portfolioItem__image-blurry {
  position: absolute;
  bottom: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: 0.3s;
}

@media only screen and (max-width: 979px) {
  .portfolioItem__image-blurry {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}

.portfolioItem__display-none {
  display: none;
}

/* ~~~~~~~~~ GH LINK WINDOW~~~~~~~~~~~~*/

.gh__linkWindow--hidden {
  display: none;
}

.gh__linkWindow--show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.gh__button--container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 20px;
}
@media only screen and (max-width: 979px) {
  .gh__button--container {
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .gh__button--container {
    flex-direction: column;
    align-items: center;
  }
}

.gh__button--link {
  border: hidden;
  background: white;
  color: #6200ee;
  width: 10rem;
  height: 100px;
  border-radius: 3px;
  text-align: center;
  font-size: 22px;
  margin-left: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
  margin-bottom: 60px;
  box-shadow: 5px 7px 0px #dddddd;
}

@media only screen and (max-width: 979px) {
  .gh__button--link {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .gh__button--link {
    margin-bottom: 20px;
    width: 15rem;
  }
}

.gh__button--link:hover {
  cursor: pointer;
  transition: 0.25s ease-in-out;
  box-shadow: 0px 0px 0px #dddddd;
  transform: translate(5px, 3px);
}
