.toolsKnob {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@media only screen and (max-width: 768px) {
  .toolsKnob {
    flex-direction: column;
    justify-content: space-around;
  }
}

.tools__description--container {
  text-align: left;
  margin-bottom: 40px;
  border-left: solid;
  padding: 20px;
  height: 180px;
}

.tools__description--text {
  max-width: 300px;
  margin-top: 21px;
}

.knob__container {
  margin-top: -170px;
  margin-left: 50px;
  margin-bottom: 20px;
  touch-action: none;
}

@media only screen and (max-width: 768px) {
  .knob__container {
    margin-left: 0px;
    margin-bottom: 80px;
    margin-top: -200px;
  }
}
/*~~~~~~KNOB LABELS~~~~~~~~*/

.knob__label--0 {
  position: relative;
  top: 225px;
  left: 0px;
}
.knob__label--1 {
  position: relative;
  top: 230px;
  left: -95px;
}
.knob__label--2 {
  position: relative;
  top: 265px;
  left: -115px;
}
.knob__label--3 {
  position: relative;
  top: 295px;
  left: -125px;
}
.knob__label--4 {
  position: relative;
  top: 325px;
  left: -115px;
}
.knob__label--5 {
  position: relative;
  top: 340px;
  left: -40px;
}
.knob__label--6 {
  position: relative;
  top: 309px;
  left: 50px;
}
.knob__label--7 {
  position: relative;
  top: 245px;
  left: 125px;
}
.knob__label--8 {
  position: relative;
  top: 175px;
  left: 145px;
}
.knob__label--9 {
  position: relative;
  top: 110px;
  left: 135px;
}
.knob__label--10 {
  position: relative;
  top: 35px;
  left: 90px;
}
