.traffic {
  margin-top: 4%;
  margin-bottom: 10%;
  width: 100%;
  height: auto;
}

.traffic__container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 21.5%;
  margin-bottom: 10%;
  width: 100%;
  height: auto;
  z-index: 6;
}

@media only screen and (max-width: 768px) {
  .traffic__container {
    width: 150%;
    margin-top: 9%;
  }
}

.traffic__reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/*  ~~~~Vehicles~~~  */

.car__left {
  display: inline-block;
  position: relative;
  left: 0;
  vertical-align: bottom;
  /* margin-top: 12.4%; */
  margin-left: -6%;
  width: 6%;
  animation-name: leftToRight;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .car__left {
    margin-top: 11.4%;
    left: 18%;
    width: 8%;
    margin-left: -8%;
  }
}

.car__right {
  display: inline-block;
  position: relative;
  left: 0;
  /* margin-top: 12.4%; */
  margin-left: -6%;
  width: 6%;
  animation-name: rightToLeft;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .car__right {
    margin-top: 11.4%;
    left: 18%;
    width: 8%;
    margin-left: -8%;
  }
}

.bike__left {
  display: inline-block;
  position: relative;
  left: 0;
  /* margin-top: 11%; */
  margin-left: -2%;
  width: 2%;
  animation-name: leftToRight;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .bike__left {
    /* margin-top: 11.4%; */
    left: 18%;
    width: 2%;
    margin-left: -2%;
  }
}

.bike__right {
  display: inline-block;
  position: relative;
  left: 0;
  /* margin-top: 11%; */
  margin-left: -2%;
  width: 2%;
  animation-name: rightToLeft;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .bike__right {
    /* margin-top: 11.4%; */
    left: 18%;
    width: 2%;
    margin-left: -2%;
  }
}

.plane__left {
  display: inline-block;
  position: relative;
  left: 0;
  margin-left: -10%;
  width: 10%;
  animation-name: leftToRight;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .plane__left {
    top: 100px;
    left: 18%;
    width: 9%;
    margin-left: 9%;
  }
}

.plane__right {
  display: inline-block;
  position: relative;
  left: 0;
  top: 100px;
  margin-left: -10%;
  width: 10%;
  animation-name: rightToLeft;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .plane__right {
    left: 18%;
    width: 9%;
    margin-left: 9%;
  }
}

/*~~~~~~~Animation Keyframes~~~~~~~~~ */

@keyframes leftToRight {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(125vw);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(125vw);
  }

  to {
    transform: translateX(-200px);
  }
}
