/* .bio {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  width: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .bio {
    flex-direction: column;
  }
} */

.bio__left {
  flex: 0.6;
  margin-left: 1rem;
  margin-top: 20px;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .bio__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

.bio__left > img {
  height: 250px;
  width: 250px;
  object-fit: contain;
  float: left;
  border-radius: 100%;
  shape-outside: circle() margin-box;
  margin: 18px;
  z-index: 5;
}

/* @media only screen and (max-width: 768px) {
  .bio__left > img {
    height: 200px;
    width: 200px;
  }
} */

.bio__left > p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 20px;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .bio__left > p {
    flex: 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.bio__right {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.4;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .bio__right {
    flex: 1;
  }
}

.bio__right > h2 {
  font-size: 40px;
  font-weight: 300;
}

.bio__expirence {
  font-size: 20vh;
  font-weight: 600;
}
