.city__container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  border-radius: 100px 100px 0px 0px;
  overflow: hidden;
  max-width: 100%;
  height: 70vh;
  box-shadow: 2px 2px 5px #00000050;
}

.city__container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media only screen and (min-width: 1024px) {
  .city__container {
    height: 90vh;
  }
}

.city__sky--day {
  width: 100%;
  background-image: linear-gradient(#4073ff, #52b0ee, #d2e0e8, #ffffff);
  z-index: 1;
  height: 100%;
  transition: ease-in-out 3s;
}

.city__sky--night {
  width: 100%;
  background-image: linear-gradient(#2f277d, #3378bd);
  z-index: 1;
  height: 100%;
}

.city__sun {
  z-index: 2;
  margin-top: 20px;
}

.city__moon {
  z-index: 2;
  margin-top: 20px;
  transform: rotate(180deg);
}

.city__water {
  width: 100%;
  background-image: linear-gradient(#003b63, #3370a6);
  z-index: 3;
  height: 35%;
  position: relative;
  top: 35%;
}

.city__bridge--fg {
  z-index: 5;
  margin-top: 4%;
  margin-bottom: 10%;
  transition: ease-in-out 0.5s;
}
@media only screen and (max-width: 768px) {
  .city__bridge--fg {
    width: 150%;
    transition: ease-in-out 0.5s;
  }
}

.city__bridge--bg {
  z-index: 4;
  margin-top: 4%;
  margin-bottom: 10%;
  transition: ease-in-out 0.5s;
}
@media only screen and (max-width: 768px) {
  .city__bridge--bg {
    width: 150%;
    transition: ease-in-out 0.5s;
  }
}

.city__clouds {
  margin-bottom: 20%;
  z-index: 3;
  animation: slide 320s linear infinite alternate;
  /* transition: ease-in-out 1s; */
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0); /* The image width */
  }
}

@media only screen and (max-width: 768px) {
  .city__clouds {
    height: 30%;
    width: 700%;
    transition: ease-in-out 0.5s;
  }
}

@media only screen and (min-width: 769px) {
  .city__clouds {
    height: 30%;
    width: 300%;
    transition: ease-in-out 0.5s;
  }
}
