.city__container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  border-radius: 100px 100px 0px 0px;
  overflow: hidden;
  max-width: 100%;
  height: 70vh;
  box-shadow: 2px 2px 5px #00000050;
}

.city__container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media only screen and (min-width: 1024px) {
  .city__container {
    height: 90vh;
  }
}

@media only screen and (max-height: 600px) {
  .city__container {
    height: 80vh;
  }
}

.city__sky--day {
  width: 100%;
  background-image: linear-gradient(#4073ff, #52b0ee, #d2e0e8, #ffffff);
  height: 100%;
  z-index: 1;
}

.city__sky--night {
  width: 100%;
  background-image: linear-gradient(#251f61, #3378bd);
  height: 100%;
  z-index: 1;
}

.city__sky--night::before {
  background-image: url("./images/StarsNight.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  margin-top: -40px;
  content: "";
  display: flex;
  height: 100%;
  width: 100%;
  /* z-index: 1; */
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
}

.city__sun {
  margin-bottom: -100px;
  height: 100%;
  z-index: 2;
  -webkit-animation: spin2 2s ease-in-out;
  -moz-animation: spin2 2s ease-in-out;
  animation: spin2 2s ease-in-out;
  animation-fill-mode: forwards;
}

.city__moon {
  margin-bottom: -100px;
  height: 100%;
  z-index: 2;
  -webkit-animation: spin 2s ease-in-out;
  -moz-animation: spin 2s ease-in-out;
  animation: spin 2s ease-in-out;
  animation-fill-mode: forwards;
  /* box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff; */
}

.city__water--day {
  width: 100%;
  background-image: linear-gradient(#003b63, #3370a6);
  height: 30%;
  position: relative;
  top: 35%;
  z-index: 3;
}

@media only screen and (max-width: 550px) {
  .city__water--day {
    height: 50%;
  }
}

.city__water--night {
  width: 100%;
  background-image: linear-gradient(#001a2b, #003b63);
  height: 30%;
  position: relative;
  top: 35%;
  z-index: 3;
}

@media only screen and (max-width: 550px) {
  .city__water--night {
    height: 50%;
  }
}

.city__bridge--fg {
  margin-top: 4%;
  margin-bottom: 10%;
  transition: ease-in-out 0.5s;
  z-index: 6;
}
@media only screen and (max-width: 768px) {
  .city__bridge--fg {
    width: 150%;
    transition: ease-in-out 0.5s;
  }
}

.city__bridge--bg {
  z-index: 5;
  margin-top: 4%;
  margin-bottom: 10%;
  transition: ease-in-out 0.5s;
}
@media only screen and (max-width: 768px) {
  .city__bridge--bg {
    width: 150%;
    transition: ease-in-out 0.5s;
  }
}

.city__clouds {
  height: 30%;
  width: 300%;
  margin-bottom: 200px;
  z-index: 4;
  animation: slide 320s linear infinite alternate;
  /* transition: ease-in-out 1s; */
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0); /* The image width */
  }
}
@media only screen and (max-width: 768px) {
  .city__clouds {
    height: 30%;
    width: 400%;
    transition: ease-in-out 0.5s;
  }
}

@media only screen and (max-width: 428px) {
  .city__clouds {
    height: 20%;
    width: 600%;
    transition: ease-in-out 0.5s;
  }
}
/* 
@media only screen and (min-width: 769px) {
  .city__clouds {
    height: 30%;
    width: 300%;
    transition: ease-in-out 0.5s;
  }
} */

/*~~~~~~~~~~~  ANIMATION KEY FRAMES ~~~~~~~~~~~~~*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-moz-keyframes spin2 {
  0% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spin2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
