.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  width: 100%;
}

.footer__contactHeader {
  display: flex;
  z-index: 1;
  font-size: 40px;
  font-weight: 200;
  color: #2a2a2a;
  margin-top: 40px;
}

.footer__textBottom {
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(70, 70, 70);
}

.footer > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
}

.footer > form > input {
  margin: 10px;
  width: 80%;
  height: 30px;
  max-width: 250px;
  border: none;
  outline-width: 0;
  padding-left: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #a3a3a3;
}
.footer > form > textarea {
  margin: 10px;
  height: 150px;
  min-height: 150px;
  max-height: 400px;
  width: 80%;
  max-width: 550px;
  min-width: 350px;
  border: none;
  outline-width: 0;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #a3a3a3;
}

.footer > form > button {
  margin: 10px;
  width: 80%;
  max-width: 200px;
  border: none;
  border-radius: 20px;
  height: 40px;
  background-color: #4400ff;
  color: white;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 3px 3px 10px #a3a3a3;
}

.footer__socialContainer {
  display: flex;
  margin-bottom: 5px;
}

.socialIcon {
  padding: 3px;
  color: #292929;
}
