.header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 30vh;
  transition: ease-in-out 0.5s;
}

@media only screen and (min-width: 1024px) {
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    transition: ease-in-out 0.5s;
  }
}

.header__logo {
  height: 40%;
  max-width: 80%;
  /* -webkit-filter: drop-shadow(0px 3px 5px #222);
  filter: drop-shadow(1px 0px 1px rgb(102, 102, 102)); */
  transition: ease-in-out 0.5s;
}

@media only screen and (min-width: 1024px) {
  .header__logo {
    display: flex;
    flex-direction: row;
    height: 8vh;
    margin-top: 3px;
  }
}

@media only screen and (min-width: 1024px) {
  .header__title--contain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
  }
}

.header__textTop {
  font-weight: 300;
  font-size: 4vh;
}

.header__subText {
  font-weight: 200;
  font-size: 2vh;
  margin-bottom: -10px;
}

.header__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -20px;
  margin-top: 10px;
}

@media only screen and (min-width: 1024px) {
  .header__toggle {
    margin: 0px;
  }
}

.header__toggleSwitch {
  margin-left: 5px;
  margin-right: 5px;
  color: #2a2a2a;
  filter: drop-shadow(1px 0px 1px rgb(102, 102, 102));
}

.header__moon {
  margin-top: 10px;
  color: rgb(212, 255, 251);
}

.header__sun {
  margin-top: 10px;
  color: rgb(254, 255, 212);
}
