.portfolioItem__title {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 5;
}

@media only screen and (max-width: 768px) {
  .portfolioItem__title {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

/*   ~~~~~~~~ CONTENT LEFT ~~~~~~~~  */

.portfolio__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*   ~~~~~~~~ CONTENT RIGHT ~~~~~~~~  */

.portfolio__content--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 960px) {
  .portfolio__content--right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    flex: 0.2;
    margin-top: 0px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
  }
}

.portfolio__content--right > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* .portfolio__listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/*   ~~~~~~~~ CONTENT CENTER ~~~~~~~~  */

.portfolioItem__content--center {
  display: none;
}

@media only screen and (max-width: 960px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    flex: 0.3;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 40px;
  }
}

/*   ~~~~~~~~ BUTTON ~~~~~~~~  */

.portfolioItem__button {
  position: absolute;
  top: 0;
  left: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 5px #00000050;
  z-index: 5;
  transition: 0.4s;
  display: none;
}

@media only screen and (max-width: 960px) {
  .portfolioItem__button {
    display: none;
  }
}

.portfolioItem__button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #00000050;
  transition: 0.4s;
  background-color: rgb(68, 0, 255);
}

.portfolioItem__button > h1:hover {
  transition: 0.4s;
  color: rgb(255, 255, 255);
  transform: rotate(180deg);
}

.button__plus {
  font-size: 45px;
  font-weight: 200;
  color: rgb(68, 0, 255);
  transition: 0.4s;
}

/*   ~~~~~~~~ THUMBNAIL IMAGE~~~~~~~~  */

.porfolioItem__image {
  object-fit: contain;

  /* position: relative;
  top: -24px; */
  border-radius: 0px 0px 0px 20px;
  /* z-index: 2; */
}

@media only screen and (max-width: 960px) {
  .porfolioItem__image {
    border-radius: 0px 0px 0px 0px;
    height: 179px;
    width: 285px;

    /* box-shadow: 3px 3px 5px #00000050; */
  }
}

@media only screen and (max-width: 768px) {
  .porfolioItem__image {
    border-radius: 0px 0px 0px 0px;

    /* box-shadow: 3px 3px 5px #00000050; */
  }
}
