.portfolioItem__container {
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 400px;
  position: relative;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 3px 3px 10px #00000050;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 960px) {
  .portfolioItem__container {
    width: 90vw;
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__container {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

.portfolioItem__title {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 4;
}

@media only screen and (max-width: 768px) {
  .portfolioItem__title {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

/*   ~~~~~~~~ CONTENT LEFT ~~~~~~~~  */

.portfolio__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 960px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*   ~~~~~~~~ CONTENT RIGHT ~~~~~~~~  */

.portfolio__content--right {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 99;
}

@media only screen and (max-width: 960px) {
  .portfolio__content--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 0px;
  }
}

.portfolio__listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: -25px;
}
@media only screen and (max-width: 768px) {
  .portfolio__listItems {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.portfolio__listItems--hidden {
  visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: -25px;
}

/*   ~~~~~~~~ CONTENT CENTER ~~~~~~~~  */

.portfolioItem__content--center {
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 960px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -60px;
    z-index: 2;
    flex: 0.3;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 40px;
  }
}

/* ~~~~~~~~ THUMBNAIL IMAGE~~~~~~~~  */

.porfolioItem__image {
  border-radius: 0px 0px 0px 20px;
  z-index: 2;
}

@media only screen and (max-width: 960px) {
  .porfolioItem__image {
    border-radius: 0px 0px 0px 20px;
    height: 179px;
    width: 285px;
  }
}

@media only screen and (max-width: 768px) {
  .porfolioItem__image {
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 20px;
  }
}

/* ~~~~~~~~~ GH LINK WINDOW~~~~~~~~~~~~*/

.gh__linkWindow--hidden {
  display: none;
}

.gh__linkWindow--show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;

  transition: all 0.5s ease-out;
  animation: 0.5s openWindow;
}

@keyframes openWindow {
  0% {
    transform: translate3d(72%, 70%, 0);
    border-radius: 50%;
  }

  100% {
    transform: translate3d(0, 0, 0);
    border-radius: 20px;
  }
}

.gh__button--link {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 300;
  margin: 20px;
  box-shadow: 2px 2px 2px #00000050;
}
