.portfolioItem__title {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 4;
}

@media only screen and (max-width: 768px) {
  .portfolioItem__title {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

/*   ~~~~~~~~ CONTENT LEFT ~~~~~~~~  */

.portfolio__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
@media only screen and (max-width: 960px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*   ~~~~~~~~ CONTENT RIGHT ~~~~~~~~  */

.portfolio__content--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 5;
}

@media only screen and (max-width: 960px) {
  .portfolio__content--right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    flex: 0.2;
    margin-top: 0px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__content--right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
  }
}

.portfolio__content--right > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 5;
}

.portfolio__listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 69px;
  margin-left: -25px;
  z-index: 5;
}

/*   ~~~~~~~~ CONTENT CENTER ~~~~~~~~  */

.portfolioItem__content--center {
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 960px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -60px;
    z-index: 2;
    flex: 0.3;
  }
}

@media only screen and (max-width: 768px) {
  .portfolioItem__content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 40px;
  }
}

/*   ~~~~~~~~ THUMBNAIL IMAGE~~~~~~~~  */

.porfolioItem__image {
  border-radius: 0px 0px 0px 20px;
  z-index: 2;
}

@media only screen and (max-width: 960px) {
  .porfolioItem__image {
    border-radius: 0px 0px 0px 20px;
    height: 179px;
    width: 285px;
  }
}

@media only screen and (max-width: 768px) {
  .porfolioItem__image {
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 20px;
  }
}
